# *Imports* e outras *configs*

In [3]:
import pandas as pd

Leitura da Base

In [4]:
df = pd.read_csv("../extracao_datasus/datasus.csv", low_memory=False)

In [5]:
df.head()

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,DTNASC,SEXO,RACACOR,ESTCIV,...,TPRESGINFO,TPNIVELINV,NUDIASINF,FONTESINF,ALTCAUSA,IDADEminutos,IDADEhoras,IDADEdias,IDADEmeses,IDADEanos
0,1,1,Não Fetal,2010-07-22,0700,NaN,1933-01-18,Masculino,Branca,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0
1,2,1,Não Fetal,2010-08-30,0700,NaN,1945-11-05,Feminino,Preta,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
2,3,1,Não Fetal,2010-09-25,1700,NaN,1938-05-26,Masculino,Amarela,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
3,4,1,Não Fetal,2010-01-29,0740,NaN,1966-03-04,Masculino,NaN,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0
4,5,1,Não Fetal,2010-07-01,1600,NaN,1927-11-04,Masculino,Branca,Viúvo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0

In [6]:
#null_counter = df.isnull().sum()
#pd.DataFrame(null_counter)

Quantos CIDs (único) estão na causa base:

In [7]:
df["CAUSABAS"].nunique()

6308

Os sexos na base estão como "Masculino" e "Feminino"

In [8]:
df["SEXO"].isnull().sum()/len(df)*100

0.023073518154138634

In [9]:
count_sexo = {   
    "Masculino": df[df["SEXO"] == "Masculino"]["SEXO"].count(),
    "Feminino": df[df["SEXO"] == "Feminino"]["SEXO"].count()
}

pd.DataFrame([count_sexo])

   Masculino  Feminino
0    2175672   1806330

In [10]:
sexo_total = count_sexo["Feminino"] + count_sexo["Masculino"]
sexo_pct = {
    "Masculino": count_sexo["Masculino"]/sexo_total*100,
    "Feminino": count_sexo["Feminino"]/sexo_total*100
}
sexo_pct

{'Masculino': 54.6376420704962, 'Feminino': 45.3623579295038}

Raça/cor na base: 'Branca', 'Preta', 'Amarela', nan, 'Parda', 'Indígena'

In [11]:
df["RACACOR"].isnull().sum()/len(df)*100

2.663422146710919

In [12]:
count_raca = {
    "Branca": df[df["RACACOR"] == "Branca"]["RACACOR"].count(),
    "Preta": df[df["RACACOR"] == "Preta"]["RACACOR"].count(),
    "Amarela": df[df["RACACOR"] == "Amarela"]["RACACOR"].count(),
    "Parda": df[df["RACACOR"] == "Parda"]["RACACOR"].count(),
    "Indígena": df[df["RACACOR"] == "Indígena"]["RACACOR"].count()
}

pd.DataFrame([count_raca])

    Branca   Preta  Amarela   Parda  Indígena
0  2838663  247682    54508  734223      1763

In [15]:
raca_total = sum(count_raca.values())
raca_pct = {
    "Branca": count_raca["Branca"]/raca_total*100,
    "Preta": count_raca["Preta"]/raca_total*100,
    "Amarela": count_raca["Amarela"]/raca_total*100,
    "Parda": count_raca["Parda"]/raca_total*100,
    "Indígena": count_raca["Indígena"]/raca_total*100,
}

raca_pct

{'Branca': 73.22107005217396,
 'Preta': 6.388761565801417,
 'Amarela': 1.4059908084911446,
 'Parda': 18.938702380986157,
 'Indígena': 0.04547519254733044}