# *Imports* e outras *configs*

In [54]:
import pandas as pd
import numpy as np

Leitura da Base

In [2]:
df = pd.read_csv("../extracao_datasus/datasus.csv", low_memory=False)

In [3]:
df.head()

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,DTNASC,SEXO,RACACOR,ESTCIV,...,TPRESGINFO,TPNIVELINV,NUDIASINF,FONTESINF,ALTCAUSA,IDADEminutos,IDADEhoras,IDADEdias,IDADEmeses,IDADEanos
0,1,1,Não Fetal,2010-07-22,0700,NaN,1933-01-18,Masculino,Branca,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0
1,2,1,Não Fetal,2010-08-30,0700,NaN,1945-11-05,Feminino,Preta,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
2,3,1,Não Fetal,2010-09-25,1700,NaN,1938-05-26,Masculino,Amarela,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
3,4,1,Não Fetal,2010-01-29,0740,NaN,1966-03-04,Masculino,NaN,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0
4,5,1,Não Fetal,2010-07-01,1600,NaN,1927-11-04,Masculino,Branca,Viúvo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0

In [4]:
#null_counter = df.isnull().sum()
#pd.DataFrame(null_counter)

Quantos CIDs (único) estão na causa base:

In [5]:
df["CAUSABAS"].nunique()

6308

Os sexos na base estão como "Masculino" e "Feminino"

In [6]:
df["SEXO"].isnull().sum()/len(df)*100

0.023073518154138634

In [7]:
count_sexo = {   
    "Masculino": df[df["SEXO"] == "Masculino"]["SEXO"].count(),
    "Feminino": df[df["SEXO"] == "Feminino"]["SEXO"].count()
}

pd.DataFrame([count_sexo])

   Masculino  Feminino
0    2175672   1806330

In [8]:
sexo_total = count_sexo["Feminino"] + count_sexo["Masculino"]
sexo_pct = {
    "Masculino": count_sexo["Masculino"]/sexo_total*100,
    "Feminino": count_sexo["Feminino"]/sexo_total*100
}
sexo_pct

{'Masculino': 54.6376420704962, 'Feminino': 45.3623579295038}

Raça/cor na base: 'Branca', 'Preta', 'Amarela', nan, 'Parda', 'Indígena'

In [9]:
df["RACACOR"].isnull().sum()/len(df)*100

2.663422146710919

In [10]:
count_raca = {
    "Branca": df[df["RACACOR"] == "Branca"]["RACACOR"].count(),
    "Preta": df[df["RACACOR"] == "Preta"]["RACACOR"].count(),
    "Amarela": df[df["RACACOR"] == "Amarela"]["RACACOR"].count(),
    "Parda": df[df["RACACOR"] == "Parda"]["RACACOR"].count(),
    "Indígena": df[df["RACACOR"] == "Indígena"]["RACACOR"].count()
}

pd.DataFrame([count_raca])

    Branca   Preta  Amarela   Parda  Indígena
0  2838663  247682    54508  734223      1763

In [11]:
raca_total = sum(count_raca.values())
raca_pct = {
    "Branca": count_raca["Branca"]/raca_total*100,
    "Preta": count_raca["Preta"]/raca_total*100,
    "Amarela": count_raca["Amarela"]/raca_total*100,
    "Parda": count_raca["Parda"]/raca_total*100,
    "Indígena": count_raca["Indígena"]/raca_total*100,
}

raca_pct

{'Branca': 73.22107005217396,
 'Preta': 6.388761565801417,
 'Amarela': 1.4059908084911446,
 'Parda': 18.938702380986157,
 'Indígena': 0.04547519254733044}

In [12]:
def cid_logical_operator_seq(letter,operator,n_start,n_stop):
    return operator.join(letter+str(i) for i in list(range(n_start,n_stop)))

In [13]:
cid_logical_operator_seq('A','|', 15, 20)

'A15|A16|A17|A18|A19'

In [38]:
df[df["CAUSABAS"].str.contains(cid_logical_operator_seq('A','|', 15, 20))]['CAUSABAS']

633        A183
1038       A160
1319       A199
1342       A178
1749       A162
           ...
3981012    A169
3981196    A199
3981598    A150
3981695    A162
3982389    A162
Name: CAUSABAS, Length: 11984, dtype: object

In [27]:
df[df['CAUSABAS'].str.contains(cid_logical_operator_seq('A','|', 80, 90))]

,CONTADOR,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,DTNASC,SEXO,RACACOR,ESTCIV,...,TPRESGINFO,TPNIVELINV,NUDIASINF,FONTESINF,ALTCAUSA,IDADEminutos,IDADEhoras,IDADEdias,IDADEmeses,IDADEanos
319,320,1,Não Fetal,2010-04-15,0620,NaN,1926-06-11,Masculino,Parda,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0
8501,8502,1,Não Fetal,2010-04-09,0100,NaN,1964-06-08,Feminino,Parda,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0
20868,20869,1,Não Fetal,2010-03-11,0230,GROENLANDIA,2010-01-22,Feminino,Branca,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
23362,23363,1,Não Fetal,2010-01-01,2335,NaN,1985-08-05,Masculino,Parda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
27470,27471,1,Não Fetal,2010-03-15,1300,NaN,1972-12-26,Feminino,Branca,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973175,1501031,1,Não Fetal,2022-10-17,0441,NaN,1956-11-26,Feminino,Parda,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0
3973585,1503058,1,Não Fetal,2022-07-16,2232,NaN,1959-09-28,Masculino,Branca,Casado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0
3973777,1503551,1,Não Fetal,2022-07-08,1335,NaN,1950-05-04,Feminino,Branca,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0
3979932,1532851,1,Não Fetal,2022-08-01,2030,NaN,1968-09-13,Feminino,Branca,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0
3980946,1536017,1,Não Fetal,2022-07-01,0834,NaN,1961-01-22,Feminino,Amarela,Solteiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0

In [32]:
df[df['CAUSABAS'].str.contains('N75')]['CAUSABAS']

266253     N759
516635     N751
982008     N758
1226745    N759
1280646    N758
1439464    N758
1537204    N758
2093017    N758
2217053    N751
2264485    N751
2306004    N758
2475523    N758
2682379    N750
2869299    N751
3678983    N758
Name: CAUSABAS, dtype: object

In [57]:
len(np.unique(df[df['CAUSABAS'].str.len()==3]['CAUSABAS']))

184

In [58]:
np.unique(df[df['CAUSABAS'].str.len()==3]['CAUSABAS'])

array(['A09', 'A35', 'A38', 'A46', 'A55', 'A57', 'A58', 'A64', 'A70',
       'A86', 'A89', 'A90', 'A91', 'A94', 'A99', 'B04', 'B09', 'B24',
       'B49', 'B54', 'B59', 'B64', 'B86', 'B89', 'B91', 'B92', 'B99',
       'C01', 'C07', 'C12', 'C19', 'C20', 'C23', 'C33', 'C37', 'C52',
       'C55', 'C56', 'C58', 'C61', 'C64', 'C65', 'C66', 'C73', 'C80',
       'C97', 'D24', 'D27', 'D34', 'D45', 'D62', 'D65', 'D66', 'D67',
       'D70', 'D71', 'E02', 'E15', 'E40', 'E41', 'E42', 'E43', 'E45',
       'E46', 'E52', 'E54', 'E58', 'E59', 'E65', 'E68', 'E86', 'F03',
       'F09', 'F21', 'F28', 'F29', 'F39', 'F54', 'F55', 'F82', 'F83',
       'F88', 'F89', 'F99', 'G08', 'G09', 'G10', 'G20', 'G35', 'G64',
       'G92', 'G98', 'H71', 'I00', 'I10', 'I38', 'I48', 'I64', 'I81',
       'I99', 'J00', 'J09', 'J13', 'J14', 'J22', 'J36', 'J40', 'J42',
       'J46', 'J47', 'J60', 'J61', 'J64', 'J65', 'J80', 'J81', 'J82',
       'J90', 'J91', 'K20', 'K30', 'K36', 'K37', 'L00', 'L26', 'L52',
       'L88', 'L89', 'L97', 'M45', 'N10', 'N12', 'N19', 'N23', 'N26',
       'N40', 'N47', 'N61', 'N62', 'N63', 'N72', 'O11', 'O13', 'O16',
       'O25', 'O85', 'O94', 'O95', 'O96', 'O97', 'P38', 'P53', 'P60',
       'P77', 'P90', 'Q02', 'R02', 'R05', 'R11', 'R13', 'R14', 'R17',
       'R18', 'R21', 'R31', 'R33', 'R34', 'R36', 'R51', 'R53', 'R54',
       'R55', 'R58', 'R64', 'R72', 'R91', 'R92', 'R95', 'R98', 'R99',
       'V98', 'V99', 'Y69', 'Y86'], dtype=object)

In [44]:
df[df['CAUSABAS'].str.contains(cid_logical_operator_seq('J','|', 1, 90))]['CAUSABAS']

0          J180
5           J81
6           J81
11         J628
54         J180
           ...
3982885    J180
3982896    J189
3982899    J189
3982900     J47
3982901    J189
Name: CAUSABAS, Length: 497662, dtype: object