### Pegar Cotações do Yahoo Finance com Python

- pandas_datareader
- yfinance

In [1]:
!pip install pandas-datareader yfinance pandas numpy matplotlib

Requirement already satisfied: pandas-datareader in c:\users\breno\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: yfinance in c:\users\breno\anaconda3\lib\site-packages (0.2.37)
Requirement already satisfied: pandas in c:\users\breno\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in c:\users\breno\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\breno\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: lxml in c:\users\breno\anaconda3\lib\site-packages (from pandas-datareader) (4.9.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\breno\anaconda3\lib\site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\breno\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\breno\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\breno\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\breno\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: soupsieve>1.2 in c:\users\breno\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\breno\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\breno\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\breno\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\breno\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\breno\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\breno\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2024.2.2)

In [2]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance

yfinance.pdr_override()

In [3]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance

yfinance.pdr_override()

#ativos = ["ITUB3.SA", "PETR3.SA", "^BVSP"]
ativos = ["ITUB3.SA", "IBrX", "PETR3.SA", "^BVSP", "GOOG"]
#ativos = ["ITUB3.SA", "VALE3.SA", "PETR3.SA", "^BVSP"]

data_inicial = "2023-01-01"
data_final = "2024-03-16"

tabela_cotacoes = pdr.get_data_yahoo(ativos, data_inicial, data_final)["Adj Close"]
display(tabela_cotacoes)

[*********************100%%**********************]  5 of 5 completed

Ticker            GOOG  IBRX   ITUB3.SA   PETR3.SA     ^BVSP
Date
2023-01-02         NaN   NaN  19.558832  20.720245  106376.0
2023-01-03   89.699997  4.77  19.184978  20.427296  104166.0
2023-01-04   88.709999  4.68  19.203213  20.767750  105334.0
2023-01-05   86.769997  4.37  19.768551  21.440742  107518.0
2023-01-06   88.160004  4.33  20.023865  21.306143  108836.0
...                ...   ...        ...        ...       ...
2024-03-11  138.940002  5.14  29.490000  36.270000  126124.0
2024-03-12  139.619995  5.05  29.540001  37.369999  127668.0
2024-03-13  140.770004  5.08  29.770000  37.000000  128006.0
2024-03-14  144.339996  4.91  29.840000  36.750000  127690.0
2024-03-15  142.169998  5.13  29.639999  36.669998  126742.0

[311 rows x 5 columns]

In [4]:
tabela_cotacoes = pdr.get_data_yahoo(ativos, data_inicial, data_final)
display(tabela_cotacoes)

[*********************100%%**********************]  5 of 5 completed

Price        Adj Close                                             Close  \
Ticker            GOOG  IBRX   ITUB3.SA   PETR3.SA     ^BVSP        GOOG
Date
2023-01-02         NaN   NaN  19.558832  20.720245  106376.0         NaN
2023-01-03   89.699997  4.77  19.184978  20.427296  104166.0   89.699997
2023-01-04   88.709999  4.68  19.203213  20.767750  105334.0   88.709999
2023-01-05   86.769997  4.37  19.768551  21.440742  107518.0   86.769997
2023-01-06   88.160004  4.33  20.023865  21.306143  108836.0   88.160004
...                ...   ...        ...        ...       ...         ...
2024-03-11  138.940002  5.14  29.490000  36.270000  126124.0  138.940002
2024-03-12  139.619995  5.05  29.540001  37.369999  127668.0  139.619995
2024-03-13  140.770004  5.08  29.770000  37.000000  128006.0  140.770004
2024-03-14  144.339996  4.91  29.840000  36.750000  127690.0  144.339996
2024-03-15  142.169998  5.13  29.639999  36.669998  126742.0  142.169998

Price                                             ...        Open        \
Ticker      IBRX   ITUB3.SA   PETR3.SA     ^BVSP  ...        GOOG  IBRX
Date                                              ...
2023-01-02   NaN  21.450001  26.170000  106376.0  ...         NaN   NaN
2023-01-03  4.77  21.040001  25.799999  104166.0  ...   89.830002  5.18
2023-01-04  4.68  21.059999  26.230000  105334.0  ...   91.010002  4.81
2023-01-05  4.37  21.680000  27.080000  107518.0  ...   88.070000  4.64
2023-01-06  4.33  21.959999  26.910000  108836.0  ...   87.360001  4.42
...          ...        ...        ...       ...  ...         ...   ...
2024-03-11  5.14  29.490000  36.270000  126124.0  ...  137.070007  5.45
2024-03-12  5.05  29.540001  37.369999  127668.0  ...  138.250000  5.21
2024-03-13  5.08  29.770000  37.000000  128006.0  ...  140.059998  5.07
2024-03-14  4.91  29.840000  36.750000  127690.0  ...  142.300003  5.04
2024-03-15  5.13  29.639999  36.669998  126742.0  ...  143.410004  5.03

Price                                           Volume                        \
Ticker       ITUB3.SA   PETR3.SA     ^BVSP        GOOG       IBRX   ITUB3.SA
Date
2023-01-02  21.629999  26.850000  109734.0         NaN        NaN   480200.0
2023-01-03  21.450001  26.360001  106377.0  20738500.0  2107100.0   793700.0
2023-01-04  21.100000  25.740000  104167.0  27046500.0  1647400.0   802000.0
2023-01-05  21.170000  26.570000  105336.0  23136100.0  2221200.0  1075700.0
2023-01-06  21.730000  27.150000  107642.0  26612600.0  1534600.0   990400.0
...               ...        ...       ...         ...        ...        ...
2024-03-11  29.400000  36.700001  127068.0  22536400.0  3639200.0   436300.0
2024-03-12  29.660000  37.000000  126124.0  19019700.0  2528500.0   637100.0
2024-03-13  29.629999  37.470001  127668.0  19637000.0  3012800.0   416800.0
2024-03-14  29.750000  37.200001  127992.0  36117900.0  2769700.0   298400.0
2024-03-15  29.950001  36.660000  127682.0  41025900.0  8954600.0  1807100.0

Price
Ticker        PETR3.SA       ^BVSP
Date
2023-01-02  14365400.0   8130500.0
2023-01-03  28657500.0  14466700.0
2023-01-04  24517300.0  14451200.0
2023-01-05  20367800.0  15512000.0
2023-01-06  14109900.0  12626600.0
...                ...         ...
2024-03-11  47244600.0   8899100.0
2024-03-12  27981900.0   9483700.0
2024-03-13  20288500.0   8837200.0
2024-03-14  16708500.0   9292600.0
2024-03-15  19056600.0  14992400.0

[311 rows x 30 columns]

In [5]:
tabela_cotacoes = pdr.get_data_yahoo("^BVSP", data_inicial, data_final)
display(tabela_cotacoes)

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close    Volume
Date
2023-01-02  109734.0  109734.0  105981.0  106376.0   106376.0   8130500
2023-01-03  106377.0  106684.0  103852.0  104166.0   104166.0  14466700
2023-01-04  104167.0  105627.0  103915.0  105334.0   105334.0  14451200
2023-01-05  105336.0  107743.0  105333.0  107518.0   107518.0  15512000
2023-01-06  107642.0  109433.0  107642.0  108836.0   108836.0  12626600
...              ...       ...       ...       ...        ...       ...
2024-03-11  127068.0  127068.0  126065.0  126124.0   126124.0   8899100
2024-03-12  126124.0  128039.0  126121.0  127668.0   127668.0   9483700
2024-03-13  127668.0  128530.0  127439.0  128006.0   128006.0   8837200
2024-03-14  127992.0  128256.0  127192.0  127690.0   127690.0   9292600
2024-03-15  127682.0  127957.0  126502.0  126742.0   126742.0  14992400

[300 rows x 6 columns]

In [6]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance

yfinance.pdr_override()

#ativos = ["ITUB3.SA", "PETR3.SA", "^BVSP"]
ativos = ["ITUB3.SA", "IBrX", "PETR3.SA", "^BVSP", "GOOG"]
#ativos = ["ITUB3.SA", "VALE3.SA", "PETR3.SA", "^BVSP"]

data_inicial = "2023-01-01"
data_final = "2024-03-16"

tabela_cotacoes = pdr.get_data_yahoo("^BVSP", data_inicial, data_final)
display(tabela_cotacoes)

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close    Volume
Date
2023-01-02  109734.0  109734.0  105981.0  106376.0   106376.0   8130500
2023-01-03  106377.0  106684.0  103852.0  104166.0   104166.0  14466700
2023-01-04  104167.0  105627.0  103915.0  105334.0   105334.0  14451200
2023-01-05  105336.0  107743.0  105333.0  107518.0   107518.0  15512000
2023-01-06  107642.0  109433.0  107642.0  108836.0   108836.0  12626600
...              ...       ...       ...       ...        ...       ...
2024-03-11  127068.0  127068.0  126065.0  126124.0   126124.0   8899100
2024-03-12  126124.0  128039.0  126121.0  127668.0   127668.0   9483700
2024-03-13  127668.0  128530.0  127439.0  128006.0   128006.0   8837200
2024-03-14  127992.0  128256.0  127192.0  127690.0   127690.0   9292600
2024-03-15  127682.0  127957.0  126502.0  126742.0   126742.0  14992400

[300 rows x 6 columns]

In [7]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [9]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance

yfinance.pdr_override()

data_inicial = "2024-03-01"
data_final = "2024-03-16"

tabela_cotacoes = pdr.get_data_yahoo("^BVSP", data_inicial, data_final)
print(tabela_cotacoes)

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close    Volume
Date
2024-03-01  129026.0  129716.0  128717.0  129180.0   129180.0   9765100
2024-03-04  129176.0  129307.0  128278.0  128341.0   128341.0   7967700
2024-03-05  128336.0  128989.0  127823.0  128098.0   128098.0   9692200
2024-03-06  128099.0  129323.0  128099.0  128890.0   128890.0  11057900
2024-03-07  128890.0  129188.0  128033.0  128340.0   128340.0   7350000
2024-03-08  128335.0  128338.0  125802.0  127071.0   127071.0  11937900
2024-03-11  127068.0  127068.0  126065.0  126124.0   126124.0   8899100
2024-03-12  126124.0  128039.0  126121.0  127668.0   127668.0   9483700
2024-03-13  127668.0  128530.0  127439.0  128006.0   128006.0   8837200
2024-03-14  127992.0  128256.0  127192.0  127690.0   127690.0   9292600
2024-03-15  127682.0  127957.0  126502.0  126742.0   126742.0  14992400